.form {
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
}
.inputName,
.inputNumber {
  display: block;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  padding-left: 5px;
  outline: none;
  border: 1px solid grey;
}
.label {
  margin-top: 10px;
  font-weight: 500;
}
.buttonAddContacts {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  margin: 15px auto;
  background-color: white;
}
.buttonAddContacts:hover,
.buttonAddContacts:focus {
  border: 2px solid grey;
  background-color: grey;
}
